<%= render 'layouts/leftpart' %>

<div class="page-header">
  <h1>Messagebox</h1>
</div>
<% if @messagebox.nil? %>
<%= render 'form' %>
<% else %>
<center>
    <iframe id="messagebox-preview" height="500px" width="100%" style="border:solid white 1px;" src="<%= url_for( @messagebox ) %>">
    </iframe>
</center>
<br>
<div class="pull-right">
    <%= button_to 'Show', @messagebox, method: :get,     :class => 'btn btn-primary' %>
</div>
<div class="pull-right">
    <%= button_to 'Delete', @messagebox, method: :delete, data: { confirm: 'You are about to delete your messagebox. All messages in the messagebox will be deleted. This process is irreversible. Are you sure?' }, :class => 'btn btn-danger' %>
</div>
<div class="pull-right">
    <%= button_to 'Customize', 'messagebox/customize', method: :get, :action => :customize, :class => 'btn btn-primary' %>
</div>
<% end %>
<div class="clearfix"></div>
<%= render 'layouts/rightpart' %>