<%= stylesheet_link_tag  "registrations" %>
<div class="container">
<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }, :validate => { :presence => true }, :html => { :class => 'form-signin' }) do |f| %>
<h2>Unlock link</h2>
  <%= devise_error_messages! %>
  	<%= f.input :email, :label => false, :input_html => { :class => 'input-block-level', :placeholder => 'Email Address' } %>
  	<%= f.submit "Resend unlock link", :class => "btn btn-primary pull-right btn-block" %>
  <div class="clearfix"></div>
  <br>
		<div class="links">
			<%= render "devise/shared/links" %>
		</div>
		<% end %>

</div> <!-- /container -->