<div class="navbar navbar-inverse ">
	<div class="navbar-inner navbar-fixed-top">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to 'Chadz', :root, :class => 'brand' %>
			<div class="container-fluid nav-collapse">
				<ul class="nav pull-right">
					<li <%= 'class=active' if params[:controller] == 'messages' %>>
						<a href="<%= messages_path %>"/><i class="icon-envelope"></i> Messages</a>
					</li>
					<li <%= 'class=active' if params[:controller] == 'messageboxes' %>>
						<a href="<%= messageboxes_path %>"/><i class="icon-list-alt"></i> Messagebox</a>
					</li>
					<li <%= 'class=active' if params[:controller] == 'connection' %>>
						<a href="<%= connections_path %>"/><i class="icon-globe"></i> Connections</a>
					</li>
					<li class="dropdown<%= ' active' if (params[:controller] == 'user_infos' || params[:controller] == 'registrations' || params[:controller] == 'authentications' ) %>">
						<a class="dropdown-toggle" data-toggle="dropdown"  data-target="#" href="#">User</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li <%= 'class=active' if params[:controller] == 'user_infos' %>>
								<a href="<%= user_infos_path %>"/><i class="icon-user"></i> Profile</a>
							</li>
							<li <%= 'class=active' if params[:controller] == 'registrations' %>>
								<a href="/users/edit"/><i class="icon-wrench"></i> Account</a>
							</li>
							<li <%= 'class=active' if params[:controller] == 'authentications' %>>
								<a href="<%= authentications_path %>"/><i class="icon-refresh"></i> Authentications</a>
							</li>
							<li class="divider"></li>
							<li><a href="/users/sign_out" data-method="delete" rel="nofollow"><i class="icon-off"></i> Sign out</a></li>
						</ul>
					</li>	
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<div id="wrap">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<%= bootstrap_flash %>
				<div class="well">